@model ValiProyecto.Models.DetallesOrdenCompra

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle</h1>
<br>
<hr />


<div>
    <h4>Detalle Órden de Compra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdenCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdenCompra.IdOrdenCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.Nombre)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.IdDetalleOrdenCompra">Editar</a>
    <a asp-action="Index" class="btn btn-dark">Regresar</a>
</div>
